*{
    margin:0px
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}


.intro-section h1{
    
    padding-top: 100px;
    color: black;
    margin: 0px;
    font-size: 5.5em;
    position: relative;
}

#intro{
    background: url(cloud2.jpg) no-repeat center center;
    background-size: cover;
    padding-bottom: 400px;
    text-align: center;
    
}


.section1{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: aquamarine;
    text-align: center;   
        
}
.about-section p{
    font-size: 1.05em;
    text-align: 
    
}

.about-section{
    background-color: #cce6ff;
    
     
    
}


.projects-section{
    padding-top: 100px;
    padding-bottom: 300px;
    background-color: white;

}

.projects-section h2, h3 {
    text-align: center;
}

#ph {
    text-align: center;
}
    
}

#ab{
    font-size: 5em;
    
}
.nav, .navbar-collapse, .collapse, .navbar, .navbar-default, .navbar-fixed-top, .topnav {
    border-color: transparent;
    background: transparent;
    
}

.navbar-default .navbar-nav>li>a{
    color: dimgrey;
    font-size: 15px;
}

.contact-section{
    padding-top: 210px;
    background-image: url(potential1.gif);
    background-size:cover;
}

}


